
// COLORS

$color-yellow-primary: rgba(253, 211, 43, 0.974);
$color-yellow-secondary:  rgba(255, 224, 49, 0.946);
$color-yellow-transparent:  rgba(252, 202, 111, 0.918);


$color-blue-primary: rgb(6, 133, 252);
$color-blue-secondary: rgba(7, 134, 252, 0.596);
$color-blue-transparent: rgba(203, 219, 233, 0.336);

$color-grey-light: #f3f3f3;    
$color-grey-light-2: #f7f7f7;
$color-grey-light-3: #eee;
$color-grey-light-4: #f5f5f5;
    
$color-dark: rgba(0, 0, 0, 0.885);

$color-grey-dark: rgb(187, 187, 187);
$color-grey-dark-2: rgb(111, 111, 111);
$color-grey-dark-3: rgb(33, 31, 31);
$color-grey-dark-4: #444; 

$color-white: #fff;
$color-black: #000;